<h2 class="center">About Concertify</h2>
<div class="left-about about-div">
Concertify was built by Randall Reed, Ilana Sufrin, and Spencer Tang.
</div>
<div class="right-about about-div">
<p>Concertify was build with love in the Ruby-005 semester at the <a href="http://flatironschool.com">Flatiron School</a> by:</p>
  <div class="bio">
    <img alt="Headshot of Randall Reed" src="https://secure.gravatar.com/avatar/e33e85c7ee8569ff8f49dcf2b224705d?s=140">
    <p>Randall Reed, Jr.</p>
    <a href="http://github.com/randallreedjr" target="_blank">Github</a> |
    <a href="http://randallreedjr.com" target="_blank">Blog</a>
  </div>
    <div class="bio">
    <img alt="Headshot of Ilana Sufrin" src="https://avatars3.githubusercontent.com/u/4762269?v=1&s=140">
    <p>Ilana Sufrin</p>
    <a href="http://github.com/ilanasufrin" target="_blank">Github</a> |
    <a href="http://ilanaflatiron.tumblr.com/" target="_blank">Blog</a>
  </div>
    <div class="bio">
    <img alt="Headshot of Spencer Tang" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/000/2bf/075/2199427.jpg" height="140" width="140">
    <p>Spencer Tang</p>
    <a href="http://github.com/SpencerTang" target="_blank">Github</a> |
    <a href="http://spencertang.github.io/" target="_blank">Blog</a>
  </div>
</div>