<div class="welcome">
<h1>Welcome to Concertify!</h1>

<% if !logged_in? %>
<h5>Login with Spotify and find suggested concerts happening near you.</h5>
<% end %>
<h3>Takes your music from the cloud to the stage</h3>
</div>