<% if current_user %>
  <p>Welcome <%= current_user.uid %>!</p>
  <%= link_to "Search",  new_request_path%>
  <%= link_to "Log Out", signout_path %>
<% else %>
  <%= link_to "Please log in with Spotify", "auth/spotify" %>
<% end %>