.footer {
  margin-top: 35%;
  text-align: center;
  font-size: 14px;
}

body {
  background: url('https://farm3.staticflickr.com/2382/2045735047_b864159e51_b.jpg');
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%;
}

.content {
  background-color: #fff;
  border-radius: 6px;
  min-height: 300px;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 70%;
}